body {
  margin: 0;
  padding: 1rem;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #eeeeee;
  background-color: #222831;
}

button {
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  padding: 0.75rem;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  user-select: none;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

button:hover {
  transition-duration: 0.1s;
  /* background-color: #3a3a3a; */
}

button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

button:active {
  top: 1px;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#logo {
  cursor: pointer;
}

#search {
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 25px;
  border: 1px solid black;
  outline: none;
}

#header button {
  margin: 0 2rem;
  background-color: #76abae;
}

#outer-container,
#header {
  padding: 1rem;
  margin: 2rem;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
  background-color: #31363f;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 3rem;
  padding: 3rem;
}

#item {
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  background-color: #76abae;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  color: black;
}

#item:hover {
  transform: scale(1.1);
}

img {
  width: 12rem;
  height: auto;
  border-radius: 5px;
}

#item button {
  background-color: #27374d;
  color: white;
}
