body {
  margin: 0;
  padding: 1rem;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#search {
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 25px;
  border: 1px solid black;
  outline: none;
}

#watchlist,
#top-anime,
#header {
  padding: 1rem;
  margin: 2rem;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
  background-color: #fbf9f1;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 3rem;
  padding: 3rem;
}

#item {
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

#item:hover {
  transform: scale(1.1);
}

img {
  width: 12rem;
  height: auto;
  border-radius: 5px;
}

button {
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  padding: 0.75rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #595b83;
  color: white;
}
